header{
    
    width: 100vw;
    background-color: steelblue;
    border: 1px solid black;
    height: 4rem;

    .container{
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    nav{
        a{
            margin-left: 1rem;
            color: blue;
            font-weight: 700;
        }
    }
}